

{{header-tabs}}

<h1>Hello</h1>

{{#link-to "about" openTab=true title="About Us"}}About{{/link-to}} |
{{#link-to "messages" openTab=true title="Messages"}}Messages{{/link-to}} |
{{#link-to "profile" openTab=true title="Profile" }}Profile{{/link-to}} |

<br>
<br>
<br>

{{outlet}}
