<div id="dashboard-tabs" role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">

      {{#each openTabs key="@identity" as |tab|}}
          <li role="presentation" class="{{tab.isActive}}">

            {{#link-to tab.route actioned=(action "tabClicked" tab)}}{{tab.title}}
              {{#unless tab.isRoot}}
                  <button class="close tab-close" {{action "closeTab" tab}}>&times;</button>
              {{/unless}}
            {{/link-to}}
          </li>
      {{/each}}
    </ul>

    <div class="clear"></div>
</div>